<app-nav-bar></app-nav-bar>

<div class="container mt-5 mb-5">
  <div class="card">
      <div class="row g-0">
          <div class="col-md-6 border-end">
              <div class="d-flex flex-column justify-content-center">
                  <div class="main_image"> <img src="data:image/png;base64,{{evenment.imageevenment}}" id="main_product_image" width="350"> </div>

              </div>
          </div>
          <div class="col-md-6">
              <div class="p-3 right-side">
                  <div class="d-flex justify-content-between align-items-center">
                      <h3>{{evenment.nom}}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                  </div>
                  <div class="mt-2 pr-3 content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                  </div>
                  <h3>availble place :{{evenment.place_disp}}</h3>
                  <h3>price  :{{evenment.prix}}</h3>
                  <h3>destination  :{{evenment.adresse}}</h3>
                  <div class="buttons d-flex flex-row mt-5 gap-3"> <button class="btn btn-outline-dark">Buy Now</button> <button class="btn btn-dark">Add to Basket</button> </div>
                  <div class="search-option"> <i class='bx bx-search-alt-2 first-search'></i>
                      <div class="inputs"> <input type="text" name=""> </div> <i class='bx bx-share-alt share'></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <br>
  <table id="cart" class="table table-hover table-condensed table-borderless">
    <thead>
      <tr>
        <th>Evenment</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tr>
      <td>
        {{evenment.nom}}
      </td>
      <td>{{evenment.prix | currency:'DT'}}</td>
      <td>
        <div class="row">
          <div class="col-6">
            <input type="number"  #nbpass             >
            <input type="hidden" value="{{evenment.id}}" #eveid>
            <input type="hidden" value="{{evenment.prix}}"  #eveprix>
          </div>
        </div>
      </td>
      <td>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="col-9">Total Sum : {{totalSum | currency:'dt'}}</div>
    <div class="offset-1 col-2"><button type="button" class="btn btn-primary align-right" (click)=reserver(nbpass,eveid,eveprix)>Confirme </button></div>
   </div>
